<div class="bg" id="bg">
    <img src="/app/admin/img/bg.jpg"/>
</div>
<div class="loading" id="loading" [style.display]="isloading?'block':'none'" >
    <img src="/app/admin/img/loading.gif"/>
</div>
<!--<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">{question.qtitle}</div>
        <div class="panel-body">
            <div *ngFor="let questionitem of question.questionitems">
                <h3>{{questionitem.qititle}}</h3>
                <input *ngIf="questionitem.qitype==1" type="radio" /><label>{{questionitem}}</label>
            </div>
        </div>    
    </div>
</div>-->