<div class="bg" id="bg">
    <img src="/app/user/img/bg.jpg"/>
</div>
<div class="loading" id="loading" [style.display]="isloading?'block':'none'" >
    <img src="/app/user/img/loading.gif"/>
</div>
<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">问卷信息</div>
        <div class="panel-body">
            <table class="table table-condensed table-hover">
                <tr>
                    <td>ID</td>
                    <td>问卷题目</td>
                    <td>状态</td>
                    <td>操作</td>
                </tr>
                <tr *ngFor="let question of user.questions">
                    <td>{{question.qid}}</td>
                    <td>{{question.qtitle}}</td>
                    <td>
                        <em *ngIf="question.qstatus==null||question.qstatus==0">未激活</em>
                        <em *ngIf="question.qstatus!=null&&question.qstatus==1">已激活</em>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">
                                菜单
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" (click)="deleteQuestion(question.qid)">删除</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="btn-group">
            <a href="http://localhost:8080/sshdzy/user/questionMain?uid={{user.uid}}" class="btn btn-default" >增加</a>
        </div>
    </div>
</div>