.bg
{
    position: absolute;
    top: 0px;
    z-index: -11;
}
.bg img
{
    width: 100%;
    height: 100%;
}
.loading
{
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.loading img
{
    margin: 15% 43%;
}
.main
{
    width: 40%;
    margin: 5% auto;
    margin-bottom: 1%;
    background-color: rgba(238, 238, 238, 0.36);
}
.panel
{
    width: 90%;
    background-color: rgba(238, 238, 238, 0.36);
    margin: 2% auto;
    margin-bottom: 0;
}
.input-div
{
    width: 60%;
    margin: 3% auto;
}
.input-div .input-file
{
    display: inline;
    width: 85%;
}
.input-div .input-file-hidden
{
    width: 0;
    height: 0;
}
.input-div .btn-upload
{
    font-size: x-small;
}
.input-div img
{
    width: 50%;
}
.input-div a
{
    margin-left: 20%;
    font-size: 10px;
    color: darkgray;
}